<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS - Exercises</title>
	<link rel="stylesheet" href="">
</head>
<body>
    <div id="exercise">
        <div>
            <button @click="startEffect">Start Effect</button>
            <div id="effect" v-bind:class="effectClasses"></div>
        </div>
        <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
        <div v-bind:class="[float, 'blue', 'text-color']">I got no class :(</div>
        <!-- 3) Let the user enter a class (create some example classes) and attach it -->
        <div>
            <input type="text" v-model="userClass">
            <div v-bind:class="[{visible: true}, userClass]"></div>
        </div>
        <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
        <div>
            <input type="text" v-model="userClass">
            <input type="text" v-model="isVisible">
            <div v-bind:class="[{visible: isVisible}, userClass]"></div>
        </div>
        <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
        <div>
            <input type="text" v-model="myStyle.backgroundColor">
            <div v-bind:style="myStyle"></div>
        </div>
        <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
        <div>
            <button v-on:click="startProgress">Start Progress</button>
            <div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="../js/exercises4.js"></script>
</body>
</html>